@charset "UTF-8";

/* 
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#img {
    display: block;
    background-size: cover;
    background: #5f2c82 url(../imagens/imagemcurso.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

div#form {
    display: block;
    padding: 14px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

input {
    border: 2px solid #5f2c82;
    border-radius: 2px;
}

a#esqueci {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    color: #5f2c82;
    text-align: center;
    padding: 10px;
}

input#entrada:hover {
    background-color: rgba(79, 79, 79, 0.295);
    cursor: pointer;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    background-color: #49a09d;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-size: 1em;
}

form > input[type=submit]:hover {
    background-color: #39d3ce;
}

div.campo {
    display: block;
    background-color: #602c82;
    height: 48px;
    margin: 4px 0px;
    border-radius: 4px;
    width: 100%;
}

div.campo > span {
    color: white;
    /*padding: 6px 6px 0px 6px;*/ 
    /* 4px 8px 0px 4p */
    font-size: 3em;
    width: 47px;
    height: 48px;
    border-radius: 4px;
}

div.campo > label {
    display: none;
}

div.campo > input {
    background-color: #5ccac6;
    font-size: 0.9em;
    border-radius: 4px;
    height: 90%;
    width: calc(100% - 53px);
    padding: 2px;
    transform: translateY(-18px);
}

div.campo > input:focus-within {
    background-color: white;
}